
{% extends 'layout.html' %}

{% block head %}
<title>Abalone</title>
{% endblock %}

{% block body %}

<!-- Dataset Title -->
<div class="bg-white pt-4 pb-2 shadow-sm">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <h4>Abalone's Age <small>(Warwick et al)</small></h4>
      </div>
      <div class="col-8">
        <p>We want to estimate the age of abalones based in a number of measurements.</p>
      </div>
    </div>
  </div>
</div>

<!-- Dataset Content -->
<div class="container">  
  <div class="row py-4">
    <div class="col-3">
      <h5 class="mb-3">Data</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <ul>
          <li>Sex M, F, and I (infant)</li>
          <li>Length (mm) / Longest shell measurement</li>
          <li>Diameter (mm) / perpendicular to length</li>
          <li>Height (mm) / with meat in shell</li>
          <li>Whole weight (grams) / whole abalone</li>
          <li>Shucked weight (grams) / weight of meat</li>
          <li>Viscera weight (grams) / gut weight (after bleeding)</li>
          <li>Shell weight (grams) / after being dried</li>
          <li>Rings / integer / -- / +1.5 gives the age in years </li>
        </ul>
    </div>
    <div class="col-9">
      <form action="/abalone" method="get">
        <div class="row">
          <div class="col-9">
            <h5 class="mb-3">How old is this abalone?</h5>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="length">Length: <strong id="length-val">?</strong></label>
                <input name="length" type="range" class="custom-range" min="15.0" max="163.0" step="0.1" oninput='updateRangeValue(this.value, "length");'>
                <small class="form-text text-muted mt-0">15.0 to 163.0</small>
              </div>
              <div class="form-group col-md-6">
                <label for="diameter">Diameter: <strong id="diameter-val">?</strong></label>
                <input name="diameter" type="range" class="custom-range" min="11.0" max="130.0" step="1" oninput='updateRangeValue(this.value, "diameter");'>
                <small class="form-text text-muted mt-0">11.0 to 130.0</small>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="height">Height: <strong id="height-val">?</strong></label>
                <input name="height" type="range" class="custom-range" min="0.0" max="225.9" step="0.1" oninput='updateRangeValue(this.value, "height");'>
                <small class="form-text text-muted mt-0">0.0 to 225.9</small>
              </div>
              <div class="form-group col-md-6">
                <label for="whole_weight">Whole weight: <strong id="whole_weight-val">?</strong></label>
                <input name="whole_weight" type="range" class="custom-range" min="0" max="565" step="1" oninput='updateRangeValue(this.value, "whole_weight");'>
                <small class="form-text text-muted mt-0">0 to 565</small>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="shucked_weight">Shucked weight: <strong id="shucked_weight-val">?</strong></label>
                <input name="shucked_weight" type="range" class="custom-range" min="0.2" max="297.6" step="0.1" oninput='updateRangeValue(this.value, "shucked_weight");'>
                <small class="form-text text-muted mt-0">0.2 to 297.6</small>
              </div>
              <div class="form-group col-md-6">
                <label for="viscera_weight">Viscera weight: <strong id="viscera_weight-val">?</strong></label>
                <input name="viscera_weight" type="range" class="custom-range" min="0.1" max="152.0" step="0.1" oninput='updateRangeValue(this.value, "viscera_weight");'>
                <small class="form-text text-muted mt-0">0.1 to 152.0</small>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="shell_weight">Shell weight: <strong id="shell_weight-val">?</strong></label>
                <input name="shell_weight" type="range" class="custom-range" min="0.3" max="200.9" step="0.1" oninput='updateRangeValue(this.value, "shell_weight");'>
                <small class="form-text text-muted mt-0">0.3 to 200.9</small>
              </div>
              <div class="form-group col-md-6">
                <label for="sex">Sex:</label><br>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="sex" value="M">
                  <label class="form-check-label" for="sex">Male</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="sex" value="F">
                  <label class="form-check-label" for="inlineRadio2">Female</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="sex" value="I">
                  <label class="form-check-label" for="inlineRadio3">Infant</label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-3 mt-5">
            <button type="submit" class="btn btn-info btn-lg btn-block">Predict</button>
            <button type="button" class="btn btn-outline-secondary btn-block" disabled>Reset Values</button>
            {% if prediction %}
            <div class="card border-info mt-4 mb-3">
              <div class="card-body text-info">
                <h5 class="card-title">Quality</h5>
                <p class="card-text text-center">{{ prediction }} rings</p>
              </div>
            </div>
            {% endif %}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  function updateRangeValue(value, inputField) {
      document.getElementById(`${inputField}-val`).innerHTML = value; 
    }
</script>
  
{% endblock %}