{% extends 'layout.html' %}

{% block head %}
<title>Adult Census</title>
{% endblock %}

{% block nav_items %}
<li class="nav-item"><a class="nav-link" href="/forestfires">Forest Fires</a></li>
<li class="nav-item"><a class="nav-link" href="/abalone">Abalone</a></li>
<li class="nav-item"><a class="nav-link" href="/winequality">Wine Quality</a></li>
<li class="nav-item active">
  <a class="nav-link" href="/adult">Adult<span class="sr-only">(current)</span></a>
</li>
{% endblock %}
  
{% block body %}
  
  <!-- Dataset Title -->
<div class="bg-white pt-4 pb-2 shadow-sm">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <h4>Adult <small>A. Asuncion & D. J. Newman</small></h4>
      </div>
      <div class="col-8">
        <p>Predict whether income exceeds $50K/yr based on census data. Also known as "Census Income" dataset.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Dataset Content -->
<div class="container">  
  <div class="row py-4">
    <div class="col-3">
      <h5 class="mb-3">Data</h5>
      <p>The “Adult” database was extracted from the census bureau database found at http://www.census.gov/ in 1994 by Ronny Kohavi and Barry Becker, Data Mining and Visualization, Silicon Graphics.</p>
      <p class="text-muted">- UCI Machine Learning Repository</p>
      <!-- <ul>
        <li>Age</li>
        <li>Workclass</li>
        <li>Final Weight: Estimated number of represented people in census</li>
        <li>Education</li>
        <li>Marital Status</li>
        <li>Occupation</li>
        <li>Relationship</li>
        <li>Race</li>
        <li>Sex</li>
        <li>Capital gain</li>
        <li>Capital loss</li>
        <li>Hours per week</li>
        <li>Native Country</li>
      </ul> -->
    </div>
    <div class="col-9">
      <form action="/adult" method="get">
        <div class="row">
          <div class="col-9">
            <h5 class="mb-3">Does this person make more than 50K$ a year?</h5>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="age">Age: <strong id="age-val">?</strong></label>
                <input name="age" type="range" class="custom-range" min="17" max="90" step="1" oninput='updateRangeValue(this.value, "age");'>
                <small class="form-text text-muted mt-0">17 to 90</small>
              </div>
              <div class="form-group col-md-6">
                <label for="sex">Sex</label><br>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="sex" value="M" id="sex-m">
                  <label class="form-check-label" for="sex-m">Male</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="sex" value="F" id="sex-f">
                  <label class="form-check-label" for="sex-f">Female</label>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for='education'>Education</label>
                <select name='education' class="form-control">
                  <option value='Bachelors'>Bachelors</option>
                  <option value='Some-college'>Some-college</option>
                  <option value='11th'>11th</option>
                  <option value='HS-grad'>HS-grad</option>
                  <option value='Prof-school'>Prof-school</option>
                  <option value='Assoc-acdm'>Assoc-acdm</option>
                  <option value='Assoc-voc'>Assoc-voc</option>
                  <option value='9th'>9th</option>
                  <option value='7th-8th'>7th-8th</option>
                  <option value='12th'>12th</option>
                  <option value='Masters'>Masters</option>
                  <option value='1st-4th'>1st-4th</option>
                  <option value='10th'>10th</option>
                  <option value='Doctorate'>Doctorate</option>
                  <option value='5th-6th'>5th-6th</option>
                  <option value='Preschool'>Preschool</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for='native_country'>Native Country</label>
                <select name='native_country' class="form-control">
                  <option>United-States</option>
                  <option>Cambodia</option>
                  <option>England</option>
                  <option>Puerto-Rico</option>
                  <option>Canada</option>
                  <option>Germany</option>
                  <option>Outlying-US(Guam-USVI-etc)</option>
                  <option>India</option>
                  <option>Japan</option>
                  <option>Greece</option>
                  <option>South</option>
                  <option>China</option>
                  <option>Cuba</option>
                  <option>Iran</option>
                  <option>Honduras</option>
                  <option>Philippines</option>
                  <option>Italy</option>
                  <option>Poland</option>
                  <option>Jamaica</option>
                  <option>Vietnam</option>
                  <option>Mexico</option>
                  <option>Portugal</option>
                  <option>Ireland</option>
                  <option>France</option>
                  <option>Dominican-Republic</option>
                  <option>Laos</option>
                  <option>Ecuador</option>
                  <option>Taiwan</option>
                  <option>Haiti</option>
                  <option>Columbia</option>
                  <option>Hungary</option>
                  <option>Guatemala</option>
                  <option>Nicaragua</option>
                  <option>Scotland</option>
                  <option>Thailand</option>
                  <option>Yugoslavia</option>
                  <option>El-Salvador</option>
                  <option>Trinadad&Tobago</option>
                  <option>Peru</option>
                  <option>Hong</option>
                  <option>Holand-Netherlands</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for='occupation'>Ocupation</label>
                <select name='occupation' class="form-control">
                  <option value='Tech-support'>Tech-support</option>
                  <option value='Craft-repair'>Craft-repair</option>
                  <option value='Other-service'>Other-service</option>
                  <option value='Sales'>Sales</option>
                  <option value='Exec-managerial'>Exec-managerial</option>
                  <option value='Prof-specialty'>Prof-specialty</option>
                  <option value='Handlers-cleaners'>Handlers-cleaners</option>
                  <option value='Machine-op-inspct'>Machine-op-inspct</option>
                  <option value='Adm-clerical'>Adm-clerical</option>
                  <option value='Farming-fishing'>Farming-fishing</option>
                  <option value='Transport-moving'>Transport-moving</option>
                  <option value='Priv-house-serv'>Priv-house-serv</option>
                  <option value='Protective-serv'>Protective-serv</option>
                  <option value='Armed-Forces'>Armed-Forces</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="hours_per_week">Working Hours (week): <strong id="working-hours-val">?</strong></label>
                <input name="hours_per_week" type="range" class="custom-range" min="1" max="99" step="1" oninput='updateRangeValue(this.value, "working-hours");'>
                <small class="form-text text-muted mt-0">1 to 99</small>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for='workclass'>Workclass</label>
                <select name='workclass' class="form-control">
                  <option value='Private'>Private</option>
                  <option value='Self-emp-not-inc'>Self-emp-not-inc</option>
                  <option value='Self-emp-inc'>Self-emp-inc</option>
                  <option value='Federal-gov'>Federal-gov</option>
                  <option value='Local-gov'>Local-gov</option>
                  <option value='State-gov'>State-gov</option>
                  <option value='Without-pay'>Without-pay</option>
                  <option value='Never-worked'>Never-worked</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for='race'>Race</label>
                <select name='race' class="form-control">
                  <option>White</option>
                  <option>Asian-Pac-Islander</option>
                  <option>Amer-Indian-Eskimo</option>
                  <option>Other</option>
                  <option>Black</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for='relationship'>Relationship</label>
                <select name='relationship' class="form-control">
                  <option value='Wife'>Wife</option>
                  <option value='Own-child'>Own-child</option>
                  <option value='Husband'>Husband</option>
                  <option value='Not-in-family'>Not-in-family</option>
                  <option value='Other-relative'>Other-relative</option>
                  <option value='Unmarried'>Unmarried</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for='martial_status'>Martial Status</label>
                <select name='martial_status' class="form-control">
                  <option value='Married-civ-spouse'>Married-civ-spouse</option>
                  <option value='Divorced'>Divorced</option>
                  <option value='Never-married'>Never-married</option>
                  <option value='Separated'>Separated</option>
                  <option value='Widowed'>Widowed</option>
                  <option value='Married-spouse-absent'>Married-spouse-absent</option>
                  <option value='Married-AF-spouse'>Married-AF-spouse</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="final_weight">Final Weight: <strong id="final-weight-val">?</strong></label>
                <input name="final_weight" type="range" class="custom-range" min="12285" max="1490400" step="100" oninput='updateRangeValue(this.value, "final-weight");'>
                <small class="form-text text-muted mt-0">12285 to 1490400</small>
              </div>
              <div class="form-group col-md-6">
                <label for="capital_gain">Capital Gain: <strong id="capital-gain-val">?</strong></label>
                <input name="capital_gain" type="range" class="custom-range" min="0" max="99999" step="10" oninput='updateRangeValue(this.value, "capital-gain");'>
                <small class="form-text text-muted mt-0">0 to 99999</small>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="capital_loss">Capital Loss: <strong id="capital-loss-val">?</strong></label>
                <input name="capital_loss" type="range" class="custom-range" min="0" max="4356" step="1" oninput='updateRangeValue(this.value, "capital-loss");'>
                <small class="form-text text-muted mt-0">0 to 4356</small>
              </div>
            </div>
          </div>
          <div class="col-3 mt-5">
            <button type="submit" class="btn btn-info btn-lg btn-block">Predict</button>
            <button type="button" class="btn btn-outline-secondary btn-block" disabled>Reset Values</button>
            {% if prediction %}
            <div class="card border-info mt-4 mb-3">
              <div class="card-body text-info">
                <h5 class="card-title">> 50K $?</h5>
                <p class="card-text text-center">{{ prediction }}</p>
              </div>
            </div>
            {% endif %}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  function updateRangeValue(value, inputField) {
      document.getElementById(`${inputField}-val`).innerHTML = value; 
    }
</script>
  
{% endblock %}