{% extends 'layout.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block nav_items %}
<li class="nav-item"><a class="nav-link" href="/forestfires">Forest Fires</a></li>
<li class="nav-item"><a class="nav-link" href="/abalone">Abalone</a></li>
<li class="nav-item"><a class="nav-link" href="/winequality">Wine Quality</a></li>
<li class="nav-item"><a class="nav-link" href="/adult">Adult</a></li>
{% endblock %}

{% block body %}

<!-- Dataset Content -->
<div class="container">  
  <div class="row py-4">
    <div class="col-12">
      <h3 class="mb-3">Index</h3>
      <p class="muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium incidunt, quos fugiat exercitationem quam quia dicta, ducimus voluptatibus aliquam repellendus veniam, accusantium eveniet omnis eius unde voluptatem numquam itaque facere?</p>
    </div>
  </div>
</div>

{% endblock %}
