<!-- Alcohol, some are really weak
  Chlorides, some are really salty.
  Density, fermentation is not over for some wines.
  Good, mos ot fhe wines are not excellent
  PH, Some wines are much more acid than others
  Residual sugars, Some of the are really sweet.
  Alcohol / ph ration, quality has a good correlation. -->
  
{% extends 'layout.html' %}

{% block head %}
<title>Wine Quality</title>
{% endblock %}

{% block nav_items %}
<li class="nav-item"><a class="nav-link" href="/forestfires">Forest Fires</a></li>
<li class="nav-item"><a class="nav-link" href="/abalone">Abalone</a></li>
  <li class="nav-item active">
    <a class="nav-link" href="/winequality">Wine Quality<span class="sr-only">(current)</span></a>
  </li>
<li class="nav-item"><a class="nav-link" href="/adult">Adult</a></li>
{% endblock %}
  
  {% block body %}
  
  <!-- Dataset Title -->
<div class="bg-white pt-4 pb-2 shadow-sm">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <h4>Wine Quality <small>(Cortez et al)</small></h4>
      </div>
      <div class="col-8">
        <p>The goal is to model wine quality based on physicochemical tests from white wine of the north of Portugal.</p>
      </div>
    </div>
  </div>
</div>

<!-- Dataset Content -->
<div class="container">  
  <div class="row py-4">
    <div class="col-3">
      <h5 class="mb-3">Data</h5>
      <p>"The two datasets are related to red and white variants of the Portuguese "Vinho Verde" wine". Due to privacy and logistic issues, only physicochemical (inputs) and sensory (the output) variables are available (e.g. there is no data about grape types, wine brand, wine selling price, etc.).</p>
      <p class="text-muted">- UCI Machine Learning Repository</p>
    </div>
    <div class="col-9">
      <form action="/winequality" method="get">
        <div class="row">
          <div class="col-9">
            <h5 class="mb-3">What is the quality of a white wine?</h5>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="fixed_acidity">Fixed Acidity: <strong id='fixed-acidity-val'>?</strong></label>
                <input name="fixed_acidity" type="range" class="custom-range"
                        min="3.8" max="15.9" step="0.01" oninput="updateRangeValue(this.value, 'fixed-acidity');">
                <small class="form-text text-muted mt-0">3.8 to 15.9</small>
              </div>
              <div class="form-group col-md-6">
                <label for="volatile_acidity">Volatile Acidity: <strong id='volatile-acidity-val'>?</strong></label>
                <input name="volatile_acidity" type="range" class="custom-range"
                        min="0.08" max="1.58" step="0.001" oninput="updateRangeValue(this.value, 'volatile-acidity');">
                <small class="form-text text-muted mt-0">0.08 to 1.58</small>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="citric_acid">Citric Acid: <strong id='citric-acid-val'>?</strong></label>
                <input name="citric_acid" type="range" class="custom-range"
                        min="0.0" max="1.60" step="0.01" oninput='updateRangeValue(this.value, "citric-acid");'>
                <small class="form-text text-muted mt-0">0.0 to 1.60</small>
              </div>
              <div class="form-group col-md-6">
                <label for="residual_sugar">Residual Sugar: <strong id='residual-sugar-val'>?</strong></label>
                <input name="residual_sugar" type="range" class="custom-range"
                min="0.6" max="8.1" step="0.01" oninput="updateRangeValue(this.value, 'residual-sugar');">
                <small class="form-text text-muted mt-0">0.6 to 8.1</small>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="chlorides">Chlorides: <strong id="chlorides-val">?</strong></label><input name="chlorides" type="range" class="custom-range" min="0.009" max="0.611" step="0.001" oninput="updateRangeValue(this.value, 'chlorides');"> <small class="form-text text-muted mt-0">0.009 to 0.611</small>
              </div>
              <div class="form-group col-md-6">
                <label for="free-sulfur-dioxide">Free Sulfur Sioxide: <strong id="free-sulfur-dioxide-val">?</strong></label><input name="free_sulfur_dioxide" type="range" class="custom-range" min="2.0" max="289.0" step="1" oninput="updateRangeValue(this.value, 'free-sulfur-dioxide');"> <small class="form-text text-muted mt-0">2.0 to 289.0</small>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="total-sulfur-dioxide">Total Sulfur Dioxide: <strong id="total-sulfur-dioxide-val">?</strong></label><input name="total_sulfur_dioxide" type="range" class="custom-range" min="9.0" max="440.0" step="1" oninput="updateRangeValue(this.value, 'total-sulfur-dioxide');"> <small class="form-text text-muted mt-0">9.0 to 440.0</small>
              </div>
              <div class="form-group col-md-6">
                <label for="density">Density: <strong id="density-val">?</strong></label><input name="density" type="range" class="custom-range" min="0.98711" max="1.03898" step="0.00001" oninput="updateRangeValue(this.value, 'density');"> <small class="form-text text-muted mt-0">0.98711 to 1.03898</small>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="sulphates">Sulphates: <strong id="sulphates-val">?</strong></label><input name="sulphates" type="range" class="custom-range" min="0.22" max="1.08" step="0.01" oninput='updateRangeValue(this.value, "sulphates");'> <small class="form-text text-muted mt-0">0.22 to 1.08</small>
              </div>
              <div class="form-group col-md-6">
                <label for="ph">pH: <strong id="ph-val">?</strong></label><input name="ph" type="range" class="custom-range" min="2.72" max="4.01" step="0.01" oninput='updateRangeValue(this.value, "ph");'> <small class="form-text text-muted mt-0">2.7 to 4.01</small>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="alcohol">Alcohol: <strong id="alcohol-val">?</strong></label><input name="alcohol" type="range" class="custom-range" min="8.0" max="14.2" step="0.01" oninput='updateRangeValue(this.value, "alcohol");'> <small class="form-text text-muted mt-0">8.0 to 14.2</small>
              </div>
            </div>
          </div>
          <div class="col-3 mt-5">
            <button type="submit" class="btn btn-info btn-lg btn-block">Predict</button>
            <button type="button" class="btn btn-outline-secondary btn-block" disabled>Reset Values</button>
            {% if prediction %}
            <div class="card border-info mt-4 mb-3">
              <div class="card-body text-info">
                <h5 class="card-title">Quality</h5>
                <p class="card-text text-center">{{ prediction }} %</p>
              </div>
            </div>
            {% endif %}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  function updateRangeValue(value, inputField) {
      document.getElementById(`${inputField}-val`).innerHTML = value; 
    }
</script>
  
  {% endblock %}
  